body{
  background-color: #666666;
  color: #ffffff;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #b30000;
}
select option{
  background-color: #666666;
}
table.table-hover {
  text-align: center;
  border-top: 3px solid;
  border-top-color: #b30000;
  border-bottom: 3px solid;
  border-bottom-color: #b30000;
  align: center;
}
thead{
  border-bottom: 3px solid;
  border-bottom-color: #b30000;
  background-color: #b30000;
  color: #ffffff;

}
.form-control{
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}
th{
  text-align: center;
  align: center;
  border-bottom: 2px solid;

}
tr {
  text-align: center;
  align: center;
}
div.adminTbl {
  padding: 100;

}
div.q1{
  padding-left: 50;
  padding-right: 50;
}
div.q2{
  padding-left: 50;
  padding-right: 50;
}
div.q3{
  padding-left: 50;
  padding-right: 50;
}
div.submitSurvey{
  text-align: center

}
div.jumbotron{
  background-color: #b30000;
  }
.jumbotron h1,h2,p{
  color: #ffffff;
}

div.s1,div.admin {
  width: 300;
  padding-left: 50;
  margin: 0 auto;
}
.btn {
  background-color: #b30000;
  color: #ffffff;
}
.btn:hover {
  background-color: #ff0000;
  color: #ffffff;
}
